<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE3: v-once 指令</title>
  </head>
  <body>
    <div id="app"></div>

    <template id="tpl">
      <div style="padding: 1rem; background: skyblue; margin: 1rem auto">
        <div>{{counter}}</div>
        <div>{{msg}}</div>
      </div>
      <div style="padding: 1rem; background: pink" v-once>
        <div>{{counter}}</div>
        <div>{{msg}}</div>
      </div>
      <hr />
      <div><button @click="counter++">+1</button></div>
      <div><input v-model="msg" /></div>
    </template>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        template: "#tpl",
        data() {
          return { counter: 0, msg: "Hello, 世界🌏" };
        },
      }).mount("#app");
    </script>
  </body>
</html>
