<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE3: v-pre 指令</title>
  </head>
  <body>
    <div id="app"></div>

    <template id="tpl">
      <div v-pre>
        <h2>{{msg}}</h2>
      </div>
      <hr />
      <div>
        <h2>{{msg}}</h2>
      </div>
    </template>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        template: "#tpl",
        data() {
          return { msg: "你好，世界" };
        },
      }).mount("#app");
    </script>
  </body>
</html>
